<div>
    <h2>
        <span>Re Tag Profiles</span>
        <button class="btn btn-primary float-right create-re-tag-profile" [routerLink]="['/', { outlets: { popup: ['re-tag-profile-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Re Tag Profile
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="reTagProfiles">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="siteId"><span>Site Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="inputFile"><span>Input File</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="phint"><span>Phint</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="headers"><span>Headers</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createDate"><span>Create Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="startFromLine"><span>Start From Line</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="toLine"><span>To Line</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="reTagCount"><span>Re Tag Count</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span>Status</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let reTagProfile of reTagProfiles ;trackBy: trackId">
                <td><a [routerLink]="['../re-tag-profile', reTagProfile.id ]">{{reTagProfile.id}}</a></td>
                <td>{{reTagProfile.siteId}}</td>
                <td>
                   <a *ngIf="reTagProfile.status == 'SUCCESS'" (click)="downloadFile(reTagProfile.fileContentType, reTagProfile.file, reTagProfile.id )" class="fa fa-download fa-2x"  ></a>
				</td>
                <td>{{reTagProfile.phint}}</td>
                <td>{{reTagProfile.headers}}</td>
                <td>{{reTagProfile.createDate | date:'mediumDate'}}</td>
                <td>{{reTagProfile.startFromLine}}</td>
                <td>{{reTagProfile.toLine}}</td>
                <td>{{reTagProfile.reTagCount}}</td>
                <td>{{reTagProfile.status}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../re-tag-profile', reTagProfile.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 're-tag-profile/'+ reTagProfile.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 're-tag-profile/'+ reTagProfile.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
