
<div *ngIf="reTagProfile">
    <h2><span>Re Tag Profile</span> {{reTagProfile.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Site Id</span></dt>
        <dd>
            <span>{{reTagProfile.siteId}}</span>
        </dd>
        <dt><span>Input File</span></dt>
        <dd>
            <div *ngIf="reTagProfile.inputFile">
                <a (click)="openFile(reTagProfile.inputFileContentType, reTagProfile.inputFile)">open</a>
                {{reTagProfile.inputFileContentType}}, {{byteSize(reTagProfile.inputFile)}}
            </div>
        </dd>
        <dt><span>Phint</span></dt>
        <dd>
            <span>{{reTagProfile.phint}}</span>
        </dd>
        <dt><span>Headers</span></dt>
        <dd>
            <span>{{reTagProfile.headers}}</span>
        </dd>
        <dt><span>Create Date</span></dt>
        <dd>
            <span>{{reTagProfile.createDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Start From Line</span></dt>
        <dd>
            <span>{{reTagProfile.startFromLine}}</span>
        </dd>
        <dt><span>To Line</span></dt>
        <dd>
            <span>{{reTagProfile.toLine}}</span>
        </dd>
        <dt><span>Re Tag Count</span></dt>
        <dd>
            <span>{{reTagProfile.reTagCount}}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
            <span>{{reTagProfile.status}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 're-tag-profile/'+ reTagProfile.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
