
<div *ngIf="radsCategoryInventory">
    <h2><span>Rads Category Inventory</span> {{radsCategoryInventory.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Cat Id</span></dt>
        <dd>
            <span>{{radsCategoryInventory.catId}}</span>
        </dd>
        <dt><span>Cat Name</span></dt>
        <dd>
            <span>{{radsCategoryInventory.catName}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'rads-category-inventory/'+ radsCategoryInventory.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
