<div>
    <h2>
        <span>Tag Requests</span>
        <button class="btn btn-primary float-right create-tag-request" [routerLink]="['/', { outlets: { popup: ['tag-request-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Tag Request
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tagRequests">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span>Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="siteId"><span>Site Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="phints"><span>Phints</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="referelUrl"><span>Referel Url</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="headers"><span>Headers</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="idType"><span>ID Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="requestCount"><span>Request Count</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="file"><span>File</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createDate"><span>Create Date</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let tagRequest of tagRequests ;trackBy: trackId">
                <td><a [routerLink]="['../tag-request', tagRequest.id ]">{{tagRequest.id}}</a></td>
                  <td><div *ngIf="tagRequest.file; else fail" class="fa fa-check fa-2x text-success font-weight-bold" style="" aria-hidden="true">
                  </div>
                 <ng-template #fail>
                 	<div *ngIf="dateDiff(tagRequest.createDate) > 1 ; else inprogress" class="fa fa-exclamation-circle fa-2x  text-danger font-weight-bold" style="">
                  </div> 
                  <ng-template #inprogress> 
                  <div  class="fa fa-clock-o fa-2x  text-warning font-weight-bold" ></div>
                  
                  </ng-template>
                  </ng-template>
                 
                  
                  </td>
                <td>{{tagRequest.siteId}}</td>
                <td>{{tagRequest.phints}}</td>
                <td>{{tagRequest.referelUrl}}</td>
                <td>{{tagRequest.headers}}</td>
                <td>{{tagRequest.idType}}</td>
                <td>{{tagRequest.requestCount}}</td>
                <td>
                    <a *ngIf="tagRequest.file" (click)="downloadFile(tagRequest.fileContentType, tagRequest.file, tagRequest.id )" class="fa fa-download fa-2x"  ></a>
                   
                </td>
                <td>{{tagRequest.createDate | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../tag-request', tagRequest.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tag-request/'+ tagRequest.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tag-request/'+ tagRequest.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
